main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 60px);
  background-color: #f0f2f5;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: #1a1a1a;
  color: white;
  height: 60px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.nav-link-button {
  text-decoration: none;
  background-color: #3498db;
  color: white;
  padding: 8px 20px; /* Un poco más de aire a los lados */
  border-radius: 6px;
  font-weight: 600;
  font-size: 0.9rem;
  transition: all 0.3s ease;

  /* ESTO ES LO MÁS IMPORTANTE */
  display: inline-block;
  width: auto; /* Evita que se estire */
}

.nav-link-button:hover {
  background-color: #2980b9;
  transform: translateY(-1px); /* Un pequeño efecto de elevación */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-user-section {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.user-name {
  font-size: 0.9rem;
  color: #ccc;
}

.btn-logout {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.2s;
}

.btn-logout:hover {
  background-color: #c0392b;
}

nav ul li {
  background-color: transparent !important;
  background: none !important;
  border: none !important;
  display: flex;
  align-items: center;
}

nav {
  background-color: transparent !important;
}
